@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap');

main {
    width: 100%;
    max-width: 800px;
}

a {
    font-family: 'DM Serif Display', serif;
    list-style: none;
    display: block;
    word-spacing: 5px;
}

a:hover {
    cursor: pointer;
    color: #ff7d93;
}

form {
    text-align: left;
    margin: 70px 100px 0px 100px;
}

::placeholder {
    color: black;
    opacity: 1
}

.word {
    font-family: 'DM Serif Display', serif;
    outline: none;
    border-style: none;
    padding-top: 100px;
    margin: 10px;
    font-size: 42px;
}

.clicked {
   font-size: 18px;
   margin-left: 10px;
   margin-top: 7px;
   margin-bottom: 15px;
   display: none;
   color:  #ff7d93; 

}

.heart {
   font-size: 18px;
   margin-left: 10px;
   margin-top: 7px;
   margin-bottom: 15px;
   display: none;
}

.heart:hover {
    color: #ff7d93;
    cursor: pointer;
}


.submit {
    display: none;
} 


h2 {
    margin-bottom: 20px;
}

h4 {
    display: inline;
    font-size: 16px;
    margin-left: 10px;
} 

 h5 {
    display: inline;
    font-size: 14px;
} 

.container {
    margin-left: 110px;
    margin-bottom: 150px;
}

img {
    height: 25px;
    margin-left: 90%;
    margin-top: 8%;
    margin-bottom: 50px;
}

img:hover {
    cursor: pointer;
}


/*////////////////SIDEBAR//////////////////*/

#sidebar {
    float: right;
    width: 300px;
    height: 400px;
    margin-top: 5%;
    margin-right: 10%;
    right: -400px;
    width: 175px;
    align-items: right;
    border: 1px solid black;
    color:#FAFAFA;
    clip-path: polygon(100% 0%, 0% 100%, 0% 100%, 0% 100%);
    transition: all .5s;
}

#sidebar.show-sidebar {
    right: 0px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: all .5s;
}
#sidebar.hide-sidebar {
    right: -300px;
    clip-path: polygon(0% 0%, 100% 100%, 0% 0%, 0% 100%);
    transition: all .5s;
}

#about {
    color: black;
    margin-top: 20px;
    margin-left: 5px;
    padding: 10px;
    text-decoration: none;
    /* font-style: italic; */
}


#about:hover {
    color: #ff7d93;
}

#saved {
    color: black;
    margin-left: 5px;
    padding: 10px;
    text-decoration: none;
    /* font-style: italic; */
}

#saved:hover {
    color: #ff7d93;
}



/*////////////////SIDEBAR//////////////////*/


.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  h1 {
      text-align: center;
  }

  .copyright {
      font-size: 12px;
      margin-top: 50px;
  }
 
  .modal-content {
    text-align: center;
    background-color: #FAFAFA;
    margin: 15% auto; 
    padding: 20px;
    width: 80%; 
  }

  p {
    font-family: 'Raleway', sans-serif;
  }
  
  .close {
    color: #aaa;
    margin-top: -5px;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #ff7d93;
    text-decoration: none;
    cursor: pointer;
  }

  .meto {
      line-height: 1.5;
  }


  /*////////////////MEDIAQUERY//////////////////*/

  @media screen and (max-width: 950px) {
    .main {
      width: 50%;
    }

    img {
        margin-top: 400px;
        margin-left: 50%;
    }

    #sidebar {
        bottom: 110px;
        height: 130px;
        position: fixed;
        margin-right: 5%;
        text-align: center;
        width: 90%;
        
    }
  }