@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Source+Sans+Pro&display=swap');

a {
    font-family: 'DM Serif Display', serif;
    list-style: none;
    display: block;
    word-spacing: 5px;
}

a:hover {
    cursor: pointer;
    color: #ff7d93;
}

form {
    text-align: left;
    margin: 70px 100px 0px 100px;
    /* margin-top: 10em; */
}

::placeholder {
    color: black;
    opacity: 1
}

.word {
    font-family: 'DM Serif Display', serif;
    outline: none;
    border-style: none;
    padding-top: 100px;
    margin: 10px;
    font-size: 42px;
}

.clicked {
   font-size: 18px;
   margin-left: 10px;
   margin-top: 7px;
   margin-bottom: 15px;
   display: none;
   color:  #ff7d93; 

}

.heart {
   font-size: 18px;
   margin-left: 10px;
   margin-top: 7px;
   margin-bottom: 15px;
   display: none;
}

.heart:hover {
    color: #ff7d93;
    cursor: pointer;
}


.submit {
    display: none;
} 


h2 {
    margin-bottom: 20px;
}

h4 {
    display: inline;
    font-size: 16px;
    margin-left: 10px;
} 

 h5 {
    display: inline;
    font-size: 14px;
} 

.container {
    margin-left: 110px;
    margin-bottom: 150px;
}

img {
    height: 25px;
    margin-left: 900px;
    margin-top: 90px;
    margin-bottom: 50px;
}

img:hover {
    cursor: pointer;
}

/*//////////////////////////////////*/

/* .sidebar {
    width: 200px;
    position: absolute;
    background: lightgray;

} */


#sidebar {
    float: right;
    width: 300px;
    height: 400px;
    margin-top: 20px;
    margin-right: 20px;
    right: -400px;
    width: 175px;
    align-items: right;
    border: 1px solid black;
    color:#FAFAFA;
    clip-path: polygon(100% 0%, 0% 100%, 0% 100%, 0% 100%);
    transition: all .5s;
}

#sidebar.show-sidebar {
    right: 0px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: all .5s;
}
#sidebar.hide-sidebar {
    right: -300px;
    clip-path: polygon(0% 0%, 100% 100%, 0% 0%, 0% 100%);
    transition: all .5s;
}

#about {
    color: black;
    margin-top: 20px;
    margin-left: 5px;
    padding: 10px;
    text-decoration: none;
    /* font-style: italic; */
}


#about:hover {
    color: #ff7d93;
}

#saved {
    color: black;
    margin-left: 5px;
    padding: 10px;
    text-decoration: none;
    /* font-style: italic; */
}

#saved:hover {
    color: #ff7d93;
}


/* #sidebar.original-sidebar {
    position:fixed;
    width: 175px;
    height: 800px;
    background-color: lightgray;
    color:#FAFAFA;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%);
    transition: all 1s;
} */

/* .modal {
    
} */